{
  "check-coverage": true,
  "per-file": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "exclude": [
    "**/descriptors/**",
    "**/tests/**",
    "reports/**"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "lines": 100,
  "reporter": [
    "lcov",
    "text"
  ],
  "report-dir": "./docs/reports/coverage"
}
